.gameContainer {
	display: grid;
	justify-content: center;
	justify-items: center;
	/* border: 1px solid red; */
}

.headerGame {
	margin-top: calc(var(--gap-xl) * 2);
	margin-bottom: calc(var(--gap-xl) * 1.5);
}

.form {
	display: grid;
	/* padding-top: 2rem; */
	/* padding-bottom: 2rem; */
	border: 1px solid red;
}

.question-select {
	border: 1px solid lawngreen;
}

.button {
	margin-top: 100px;
}

.games-outlet {
	flex: 1;
	border: 1px solid red;
}
