/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

body {
  background-image: var(--gradient-background);
}

.container {
  min-height: inherit;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'header'
    'content'
    'footer';
  align-items: center;
  justify-items: center;
}

.header {
  grid-area: header;
  justify-self: end;
}

.content {
  grid-area: content;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  grid-area: footer;
}

h1 {
  text-shadow: 0 4px 0 var(--text-shadow);
  text-align: center;
}

h1 span {
  display: block;
  font-size: 4.5rem;
  line-height: 1.3;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  color: var(--color-links);
  font-family: var(--font-display);
  text-transform: lowercase;
}

nav ul a:hover {
  text-decoration: none;
  color: var(--color-links-hover);
}

@media print, (min-width: 640px) {
  h1 span {
    font-size: 6rem;
  }

  nav ul {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 span {
    font-size: 8rem;
  }
}
