.toggleContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.toggle {
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	width: max-content;
	background-color: transparent;
	padding: 0 5px;
	outline: none;
}

.toggle:focus {
	border: none;
}

.toggle:nth-child(1) {
	border-right: 1px solid var(--color-white);
}

.flag {
	width: var(--font-size-md);
	margin-right: 3px;
}

.nativeName {
	font-family: var(--font-display);
	font-size: var(--font-size-md);
	color: var(--color-links);
}

.nativeName:hover {
	color: var(--color-links-hover);
	cursor: pointer;
}
