.toggleContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.toggle {
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	width: max-content;
	background-color: transparent;
	padding: 0 5px;
	outline: none;
}

.toggle:focus {
	border: none;
}

.toggle:nth-child(1) {
	border-right: 1px solid var(--color-white);
}

.flag {
	width: 20px;
	margin-right: 3px;
}

.nativeName {
    font-family: var(--font-display);
}

.nativeName:hover {
	color: var(--color-links-hover);
	cursor: pointer;
}

@media print, (min-width: 640px) {
	.nativeName {
		font-size: 1rem;
	}
}
